:root {
  --color1: #d4f7d4;
  --color2: #559e54;
  --color3: #236ab9;
  --color4: #183bf0;
  --color5: #091034;
}

/* Universal selector */
* {
  box-sizing: border-box;
}

body {
  color: var(--color5);
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color1);
  margin: 0;
  padding: 0;
}

/* Element selectors */
h1 {
  color: var(--color5);
  font-style: italic;
  font-variant: small-caps;
  font-size: xx-large;
}

h3 {
  color: var(--color3);
  font-variant: small-caps;
}

header p {
  margin-top: 8px;
}

nav a {
  text-decoration: none;
  padding: 4px 8px;
  color: var(--color5);
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

#skillslist {
  columns: 3;
  width: 50%;
}

.sectionHeader {
  color: var(--color3);
  font-style: italic;
  font-variant: small-caps;
}

.role {
  color: var(--color2);
  font-weight: bold;
}

table {
  margin: 14px;
  border-collapse: separate;
  border-spacing: 7px;
  padding: 7px;
  width: 75%;
}

caption {
  font-style: italic;
  color: var(--color2);
  letter-spacing: 2px;
  text-decoration: underline;
}

th {
  font-style: italic;
  font-variant: small-caps;
  color: var(--color3);
  height: 50px;
}

td {
  border: 1px solid var(--color4);
  vertical-align: top;
  padding: 7px;
  color: var(--color5);
}

span {
  font-style: italic;
  color: #144eb8;
}

ul {
  list-style-type: square;
  list-style-position: inside;
}

input:focus,
textarea:focus,
select:focus {
  outline: 2px solid var(--color3);
}
